<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>module</key>
		<string>PHYS203</string>
		<key>question</key>
		<string>What do you think of the Quantum and Atomic Physics module</string>
		<key>rating</key>
		<string></string>
		<key>checked</key>
		<false/>
		<key>submitted</key>
		<string></string>
	</dict>
	<dict>
		<key>module</key>
		<string>PHYS204</string>
		<key>question</key>
		<string>What do you think of the Nuclear and Particle Physic module</string>
		<key>rating</key>
		<string></string>
		<key>checked</key>
		<false/>
		<key>submitted</key>
		<string></string>
	</dict>
	<dict>
		<key>module</key>
		<string>PHYS205</string>
		<key>question</key>
		<string>What do you think of the Working with Physics II module</string>
		<key>rating</key>
		<string></string>
		<key>checked</key>
		<false/>
		<key>submitted</key>
		<string></string>
	</dict>
	<dict>
		<key>module</key>
		<string>PHYS208</string>
		<key>question</key>
		<string>What do you think of Mathematics for Physicists IV module</string>
		<key>rating</key>
		<string></string>
		<key>checked</key>
		<false/>
		<key>submitted</key>
		<string></string>
	</dict>
</array>
</plist>
