<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>module</key>
		<string>200</string>
		<key>question</key>
		<string>What do you think of module 200</string>
		<key>rating</key>
		<string>none</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>module</key>
		<string>201</string>
		<key>question</key>
		<string>What do you think of module 201</string>
		<key>rating</key>
		<string>none</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>module</key>
		<string>202</string>
		<key>question</key>
		<string>What do you think of module 202</string>
		<key>rating</key>
		<string>none</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>module</key>
		<string>203</string>
		<key>question</key>
		<string>What do you think of module 203</string>
		<key>rating</key>
		<string>none</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>module</key>
		<string>204</string>
		<key>question</key>
		<string>What do you think of module 204</string>
		<key>rating</key>
		<string>none</string>
		<key>checked</key>
		<false/>
	</dict>
</array>
</plist>
